[Unit]
Description=CGit Server
After=docker.service boot.service
Requires=docker.service gito.service
Wants=boot.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

#---------------------------------
# Preparations for the container:
#---------------------------------

ExecStartPre=-/usr/sbin/docker kill cgit01
ExecStartPre=-/usr/sbin/docker rm cgit01
ExecStartPre=-/usr/sbin/docker pull h0tbird/cgit:latest

#----------------------
# Start the container:
#----------------------

ExecStart=/usr/bin/sh -c "docker run -t \
  --volumes-from gito01 \
  --name         cgit01 \
  --net          container:gito01 \
  --env          WAIT_IFACE=eth1 \
  --env          SERVER_NAME=cgit01.demo.lan \
  h0tbird/cgit:latest"

#---------------------
# Stop the container:
#---------------------

ExecStop=/usr/sbin/docker stop cgit01

[Install]
WantedBy=multi-user.target
